<div [ngClass]="{ editing: isEditing, completed: todo.isCompleted }">
  <div class="view">
    <input
      type="checkbox"
      class="toggle"
      [checked]="todo.isCompleted"
      (change)="toggleTodo()"
    />

    <div (dblclick)="setTodoInEditMode()">{{ todo.text }}</div>
    <button class="destroy" (click)="removeTodo()">X</button>
  </div>

  <ng-container *ngIf="isEditing">
    <input
      type="text"
      class="edit"
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
    />
  </ng-container>
</div>
